[submodule "ACQ200API"]
	path = ACQ200API
	url = https://github.com/petermilne/ACQ200API.git
	branch = master
[submodule "support/seq"]
	path = support/seq
	url = https://github.com/D-TACQ/EPICS-seq.git
	branch = master
[submodule "support/stream"]
	path = support/stream
	url = https://github.com/D-TACQ/StreamDevice.git
	branch = master
[submodule "support/pcre"]
	path = support/pcre
	url = https://github.com/ISISComputingGroup/EPICS-pcre.git
[submodule "base"]
	path = base
	url = https://github.com/epics-base/epics-base.git
[submodule "support/asyn"]
	path = support/asyn
	url = https://github.com/D-TACQ/asyn.git
